@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #0e100f;
    color: #ffffe3;
    font-family: "Hanken Grotesk", sans-serif;
    position: relative;
}
